html,
body,
#root {
  height: 100%;
}

body {
  /* color: #fff; */
  /* bg-blue-900 */
  /* background-color: rgba(17, 24, 39, 1); */

  /* bg-gray-200 */
  background-color: rgba(229, 231, 235, 1);

  /* bg-blue-50 */
  /* background-color: rgba(239, 246, 255, 1); */
}

.durationDivide {
  border-bottom: 2px black;
}
