html,
body,
#root {
  height: 100%;
}

body {
  /* bg-gray-200 */
  background-color: rgba(229, 231, 235, 1);
}

.durationDivide {
  border-bottom: 2px black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p,
div,
span {
  font-family: sans-serif;
}
